[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gravmagsubs"]
	path = gravmagsubs
	url = https://github.com/cran/gravmagsubs
	shallow = true
	registered = true
